* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fffaf0;
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #ffb703;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.nav-btn {
  background: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(135deg, #ffb703, #fb8500);
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  margin: 20px 0;
  font-size: 1.2rem;
}

/* BUTTON */
.book-demo {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 40px;
  background: #000;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.book-demo:hover {
  transform: translateY(-4px);
}

/* SECTIONS */
.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 80px 20px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 260px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.page {
  padding: 80px 20px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #ffb703;
  text-align: center;
  padding: 20px;
  font-weight: 600;
}
